<html>
    <head>
        <title>Weather reporter</title>
    </head>
	<body bgcolor="#acac8f">
	<center>
	<p>Welcome to weather reporter!</p>
	<p><span th:text="${text}">desc</span></p>
	</center>
    </body>
</html>